body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.credit-card {
  display: flex;
  width: 30%;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.credit-card-container {
  display: flex;
  justify-content: center;
}

.credit-card img {
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-self: flex-end;
  padding: 20px;
}

.card-number {
  font-size: 2.5em;
  margin-top: -5px;
  padding: 20px;
}

.card-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: -20px;
  margin-left: 30px;
  padding-bottom: 20px;
}

.card-info p {
  margin-top: -5px;
}

/* styles for the table */
.num-table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

/* styles for the table header cells */
.num-table th {
  border: 1px solid black;
  padding: 8px;
  width: 20px;
}

/* styles for the table body cells */
.num-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  width: 20px; 
}

/* styles for the even number cells */
.num-table .even-cell {
  background-color: red;
}


/* styles for the container */
.container, .blue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  border: 1px solid black; 
  padding: 10px; 
  margin: 10px;
}

.blue-container {
  background-color: aquamarine;
}

/* styles for the user image */
.user-image {
  width: 150px;
  height: 150px;
  margin-right: 10px; 
}

/* styles for the card-info */
.card-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

/* styles for the card-info paragraphs */
.card-info p {
  margin: 0; 
  padding: 5px; 
}

/*sign up form */

.sign-up-form{
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.sign-up-form button{
  width: 30%;
  margin-top: 30px;
}

.form-container, .driver-box-container, .box-color-container {
  display: flex;
  justify-content: center;
}


/* color picker*/
.square{
  height: 50px;
  width: 50px;
  background-color: #555;
}

.all-colors{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.single-color{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px;
  align-items: center;
  }

.all-colors-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.single-color-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
